/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #6a1b9a;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #6a1b9a;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Card */
.card {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Hover effect */
.card:hover {
    transform: scale(1.05);
}

/* Button */
button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #6a1b9a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4a148c;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}